.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  background-color: rgba(0,0,0,0);;
  background-size: cover;
  border: none;
  padding: 0;
  height: 10px;
  width: 10px;
}

@media screen and (max-width: 652px) {
  .profile__edit-button {
    height: 7.5px;
    width: 7.5px;
  }
}
