.photos-grid {
  width: 880px;
  margin: 0 auto;
  padding: 50px 0 67px 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 361px 20px 361px;
  -ms-grid-columns: 282px 17px 282px 17px 282px;
  grid-template: repeat(2, 361px) / repeat(3, 282px);
  grid-gap: 20px 17px;
}

@media screen and (max-width: 932px) {
  .photos-grid {
    width: 581px;
    -ms-grid-rows: 361px 20px 361px 20px 361px;
    -ms-grid-columns: 282px 17px 282px;
    grid-template: repeat(3, 361px) / repeat(2, 282px);
  }
}

@media screen and (max-width: 652px) {
  .photos-grid {
    width: 282px;
    -ms-grid-rows: 361px 20px 361px 20px 361px 20px 361px 20px 361px 20px 361px;
    -ms-grid-columns: 282px;
    grid-template: repeat(6, 361px) / 282px;
    padding: 36px 0 50px 0;
  }
}
