.profile__add-rectangle {
  height: 50px;
  width: 150px;
  border: 2px solid #fff;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out .1s;
  -o-transition: opacity 0.1s ease-out .1s;
  transition: opacity 0.1s ease-out .1s;
}

.profile__add-rectangle:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 932px) {
  .profile__add-rectangle {
    align-self: flex-end;
  }
}

@media screen and (max-width: 652px) {
  .profile__add-rectangle {
    width: 282px;
  }
}
