.popup__input {
  margin-bottom: 30px;
  width: 100%;
  height: 28px;
  border: none;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:last-of-type {
  margin-bottom: 0;
}
