.profile__edit-rectangle {
  height: 24px;
  width: 24px;
  border: 2px solid #fff;
  grid-area: edit;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out .1s;
  -o-transition: opacity 0.1s ease-out .1s;
  transition: opacity 0.1s ease-out .1s;
}

.profile__edit-rectangle:hover {
  opacity: 0.5;
}
