.popup__close-button {
  position: relative;
  left: 105%;
  bottom: 105%;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out .1s;
  -o-transition: opacity 0.1s ease-out .1s;
  transition: opacity 0.1s ease-out .1s;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
