.popup__close-button {
  background-image: url(../../../images/close-button.svg);
  background-color: rgba(0,0,0,0);
  background-size: contain;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 98%;
  left: 98%;
  -webkit-transition: opacity 0.1s ease-out .1s;
  -o-transition: opacity 0.1s ease-out .1s;
  transition: opacity 0.1s ease-out .1s;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 652px) {
  .popup__close-button {
    left: 85%;
    bottom: 103%;
  }
}
